<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="logDir" value="${basedir}/logs" />

	<targets>

		
		<target xsi:type="File" name="apiBehaviorFile"
				fileName="${logDir}/api-behavior.log"
				layout="${longdate}|${level}|${message}" />

		
		<target xsi:type="File" name="sqlFile"
				fileName="${logDir}/sql-trace.log"
				layout="${longdate}|${message}" />

		
		<target xsi:type="File" name="securityFile"
				fileName="${logDir}/security-audit.log"
				layout="${longdate}|${level}|${message}" />

		
		<target xsi:type="File" name="exceptionFile"
				fileName="${logDir}/exception.log"
				layout="${longdate}|${level}|${message}|${exception:format=toString}" />

	</targets>

	<rules>

		
		<logger name="ApiBehaviorLogger" minlevel="Info" writeTo="apiBehaviorFile" />

		
		<logger name="Microsoft.EntityFrameworkCore.Database.Command"
				minlevel="Info"
				writeTo="sqlFile" />

	
		<logger name="SecurityLogger" minlevel="Warn" writeTo="securityFile" />

		
		<logger name="*" minlevel="Error" writeTo="exceptionFile" />

	</rules>

</nlog>